build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
ios/Pods/
android/.gradle/
android/local.properties
google-services.json
GoogleService-Info.plist
.vscode/
.idea/
